body {
    margin: 0;
    padding: 0;
}

.top, .bottom, .link, .logo, .hero, header, .info-section, .info-header, .info-pictures, .pic-one, .pic-two, .pic-three, .pic-four, .quote-wrapper, .quote-container, .quote-author {
    display: flex;
}

header {
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top, .bottom {
    justify-content: center;
    padding-bottom: 100px;
}

.link {
    align-self: flex-end;
    margin: 10px;
    padding-left: 200px;
}

.logo {
    padding-right: 490px;
}

.hero{
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
    height: auto;
    padding-right: 100px;
}

.one, .two, .three {
    padding: 10px;
    text-decoration: none;

}

.one, .two, .three, p, button{
    font-size: 18px;
    color: #e5e7eb;
}

.banner {
    width: 450px;
    height: auto;
    padding-left: 200px;
}

h2, h1 {
    color: #f9faf8;
}

h1 {
    font-size: 24px;
    margin: 10px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 150px;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-pictures{
    justify-content: space-around;
    width: 1000px;
}

.pic-one, .pic-two, .pic-three, .pic-four {
    flex-direction: column;
    width: 150px;
    height: 500px;
}

.info-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pic-border {
    border: solid #3882f6;
    border-radius: 5px;
}

.info-text {
    color: #1F2937;
}

.quote-wrapper {
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: black;
    width: 763px;
    margin-top: 100px;
    margin-bottom: 0;
}

.quote-author {
    justify-content: right;
}

.name {
    color: black;
    font-size: 25px;
    font-weight: bolder;
}